.App {
    font-family: 'Montserrat', sans-serif;
    font-weight:800;
    font-size:40px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:25vh;
    background:none;
    color: #FFF;
  }
  /* CSS Styles for the home page. */

/* Universal Styles */

* { box-sizing: border-box; }
body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
    color: #FFF;
    background-color: rgba(0, 0, 0, 1);
    height: 100%; 
}
a {
    text-decoration: none;
    color: #FFF;
}

/* Nav Bar Section */

.header .flex-container { display: flex; }
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: solid 3px #FFF;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
nav  {
    overflow: visible;
    text-align: right;
    flex-grow: 1;
    padding-right: 6vh;
    font-size: 18px;
}
nav a {
    display: inline-block;
    text-align: center;
}
.header h1 {
    padding-left: 7vh;
    text-align: left;
}
nav  {padding-right: 5%;}
nav button {
    border-radius: 2.5px;
    text-align: center;
    background-color: transparent;
    transition-duration: 0.4s;
    border: none;
    font-size: 18px;
    font-family: 'Montserrat', 'sans-serif';
    color: #FFF;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}
button:hover { background-color: #8f008f; }
nav .dropbtn { background-color: transparent; }
.dropbtn {
    text-align: center;
    background-color: #000;
    border-radius: 2.5px;
    transition-duration: 0.4s;
    border: none;
    font-family: 'Montserrat', 'sans-serif';
    color: #FFF;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: relative;
}
nav .dropdown { display: inline-block; }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2.5px;
}
.dropdown-content a {
    display: block;
    color: #FFF;
    padding: 12px 16px;
}
.dropdown-content a:hover { background-color: #8f008f; border-radius: 2.5px; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color: #8f008f; }

/* Background Section */

.background {
    background-image: url('/Images/neon_paint.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(0, 0, 0, 0.9);
    width: auto;
    height: 100vh;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

/* Greeting Section */

#greeting {
    border-radius: 5px;
    position: absolute;
    font-size: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Footer Section */

.footer { padding-bottom: 2vh; }

/* Media Query Section */ 

@media only screen and (max-width: 1222px) {
    header h1 { display: none; }
    .header nav {
        text-align: center;
        padding-right: 0;
    }
    nav h3 { font-size: 1.5em; }
    .header { float: none; }
    .title { width: 80%; }
}
@media only screen and (max-width: 980px) {
    header h1, header nav { display: none; }
    .title { width: 80%; }
    .dropdown-content a { font-size: 2rem; }
    .dropbtn { font-size: 2rem; }
    .dropdown { display: inline-block; }
    nav .dropdown { display: none; }
    .header .flex-container {
        overflow: visible;
        background: none;
    }
    .header .flex-container {
        width: fit-content;
        border: none;
    }
}
@media only screen and (max-width: 980px) and (orientation: landscape) {
    header h1 { display: none; }
    .header nav {
        text-align: center;
        padding-right: 0;
    }
    nav h3 { font-size: 1.5em; }
    .background { height: 90%; }
    .title { top: 40%; }
    .title {
        top: 50%;
        font-size: 1em;
        width: 80%;
    }
    .dropdown-content a { font-size: 1.5em; }
    .dropbtn { font-size: 1.5em; }
}