/* CSS Styles for the about page of the portfolio */

/* Universal Styles */

* { box-sizing: border-box; }
body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
    color: #FFF;
    background-color: rgba(0, 0, 0, 1);
    height: 100%; 
}
a {
    text-decoration: none;
    color: #FFF;
}

/* Nav Bar Section */

.header .flex-container {
    display: flex;
    overflow: visible;
    height: 50px;
}
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: solid 3px #FFF;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
nav  {
    overflow: visible;
    text-align: right;
    flex-grow: 1;
    padding-right: 6vh;
    font-size: 18px;
}
nav a {
    display: inline-block;
    text-align: center;
}
.header h1 {
    padding-left: 7vh;
    text-align: left;
}
nav  {
    display: inline-block;
    padding-right: 5%;
    margin: 0;
}
nav button {
    display: inline-block;
    border-radius: 2.5px;
    text-align: center;
    background-color: transparent;
    transition-duration: 0.4s;
    border: none;
    font-size: 18px;
    font-family: 'Montserrat', 'sans-serif';
    color: #FFF;
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}
button:hover { background-color: #8f008f; }
nav .dropbtn { background-color: transparent; }
.dropbtn {
    text-align: center;
    background-color: #000;
    border-radius: 2.5px;
    transition-duration: 0.4s;
    border: none;
    font-size: 18px;
    font-family: 'Montserrat', 'sans-serif';
    color: #FFF;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: relative;
}
nav .dropdown { display: inline-block; }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2.5px;
}
.dropdown-content a {
    display: block;
    color: #FFF;
    padding: 12px 16px;
}
.dropdown-content a:hover {background-color: #8f008f; border-radius: 2.5px;}
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color: #8f008f; }

/* Background Section */

.background {
    background-image: url('/Images/neon_paint.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(0, 0, 0, 0.9);
    width: auto;
    height: 50vh;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

/* Title Section */

#title {
    border: 3px solid #FFF;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.2);
}

/* About Me Section */

.about_me #grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    grid-gap: 1em;
}
.about_me .column1, .about_me .column2, .about_me .column3 {
    width: 40%;
    padding: 1.5%;
}
.about_me p, .about_me ul, .about_me h3 { text-align: left; }
.about_me img {
    float: right;
    border-radius: 25px;
}

/* Footer Section */

.footer { padding: 2vh 0 2vh; }

/* Media Query Section */ 

@media only screen and (max-width: 1222px) {
    header h1 { display: none; }
    .header nav {
        text-align: center;
        padding-right: 0;
    }
    nav h3 { font-size: 1.5em; }
    .about_me h3, .about_me p {
        padding-left: 5%;
        padding-right: 5%;
    }
    .about_me ul { padding-left: 15%; }
    .header { float: none; }
    .background { height: 35vh; }
    .title {
        top: 20%;
        width: 80%;
    }
}
@media only screen and (max-width: 980px) {
    header h1, header nav { display: none; }
    .about_me h3, .about_me p {
        padding-left: 5%;
        padding-right: 5%;
    }
    .about_me ul { padding-left: 15%; }
    .header, .about_me img { float: none; }
    .background { height: 30vh; }
    .title {
        top: 15%;
        font-size: 1.5em;
        width: 80%;
    }
    .dropdown-content a { font-size: 2rem; }
    .dropbtn { font-size: 2rem; }
    .dropdown { display: inline-block; }
    nav .dropdown { display: none; }
    .header .flex-container {
        overflow: visible;
        background: none;
    }
    .header .flex-container {
        width: fit-content;
        border: none;
    }
    .skills h3 { text-align: center; }
    .skills ul { padding-left: 40%; }
}
@media only screen and (max-width: 1222px) and (orientation: landscape) {
    header h1 { display: none; }
    .header nav {
        text-align: center;
        padding-right: 0;
    }
    nav h3 { font-size: 1.5em; }
    .about_me h3, .about_me p {
        padding-left: 5%;
        padding-right: 5%;
    }
    .about_me ul { padding-left: 15%; }
    .header , .about_me img { float: none; }
    .background { height: 50%; }
    .title { top: 28%; }
}
@media only screen and (max-width: 980px) and (orientation: landscape) {
    header h1 { display: none; }
    .header nav {
        text-align: center;
        padding-right: 0;
    }
    nav h3 { font-size: 1.5em; }
    .about_me h3, .about_me p {
        padding-left: 5%;
        padding-right: 5%;
    }
    .about_me ul { padding-left: 15%; }
    .header , .about_me img { float: none; }
    .background { height: 90%; }
    .title { top: 40%; }
    .title {
        top: 50%;
        font-size: 1.5em;
        width: 80%;
    }
    .dropdown-content a { font-size: 1.5em; }
    .dropbtn { font-size: 1.5em; }
}